.search-bar-wrapper {
    background-color: #69696a;
    margin: 5vh 8vw;
    display: flex;
    padding: 0.5rem 3rem;
    height: 8vh;
    border-radius: 5px;
}

.search-bar-wrapper .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
}

.search-bar-wrapper .search-bar .search-area{
    width: 40vw;
    height: 5vh;
    border-radius: 20px 0 0 20px;
    padding-left: 1vw;
    border-style: none;
    font-size: 15px;
}

.search-bar-wrapper .search-bar .search-btn {
    width: 5vw;
    height: 5vh;
    border: 0;
    border-radius: 0 20px 20px 0;
    background-image: url(https://iili.io/bmxLcg.png);
    background-size: 2.3em auto, 100%;
    background-repeat: no-repeat, repeat;
    background-position: center;
    margin-left: 1px;
    cursor: pointer;
}

.header-list_coach{
    height: 50px;
    margin: 21px 160px 0 160px;
    padding: 10px;
    background: #CDC9C9;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #494747;
    display: flex;
}
#title1_coach{
    flex:1;
    padding-left: 30px;
}
#title2_coach{
    flex:1;
    padding-left: 90px;

}
#title3_coach{
    flex:1;
}

