.filter_coach{
    margin: 20px auto;
    width: 50%;
    height: 50px;
    padding: 10px 10px 10px 20px;
    background: #D9D9D9;
    border-radius: 20px;
    display: flex;
}
.filter_coach_textarea{
    flex:9;
    font-size: 20px;
}
.filter_coach_icon{
    flex:1;
}
.header-list_coach{
    height: 50px;
    margin: 21px 160px 0 160px;
    padding: 10px;
    background: #CDC9C9;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #494747;
    display: flex;
}
#title1_coach{
    flex:1;
    padding-left: 30px;
}
#title2_coach{
    flex:1;
    padding-left: 90px;

}
#title3_coach{
    flex:1;
}

