.list-coach{
    margin-left: 160px;
    margin-right: 160px;
    background-color: #848282;
    display: flex;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    align-items: center;
}
.name{
    flex:1;
    display: inline;
}
.club{
    flex:1
}
.country{
    flex:1
}