.club-main-wrapper {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.search-bar-wrapper {
    background-color: #69696a;
    margin: 5vh 8vw;
    display: flex;
    padding: 0.5rem 3rem;
    height: 8vh;
    border-radius: 5px;
}

.search-bar-wrapper .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
}

.search-bar-wrapper .search-bar .search-area{
    width: 40vw;
    height: 5vh;
    border-radius: 20px 0 0 20px;
    padding-left: 1vw;
    border-style: none;
    font-size: 15px;
}

.search-bar-wrapper .search-bar .search-btn {
    width: 5vw;
    height: 5vh;
    border: 0;
    border-radius: 0 20px 20px 0;
    background-image: url(https://iili.io/bmxLcg.png);
    background-size: 2.3em auto, 100%;
    background-repeat: no-repeat, repeat;
    background-position: center;
    margin-left: 1px;
    cursor: pointer;
}

.stadium-information {
    width: 84vw;
    background-color: transparent;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.stadium-information .stadium-information-header {
    font-weight: bold;
    background-color: #cdc9c9;
    height: 6vh;
    border-radius: 5px 5px 0 0;
}

.stadium-information .stadium-information-header td:first-child,
.stadium-information .stadium-information-header td:last-child {
    width: 42vw;
    text-align: left;
    line-height: 6vh;
    padding-left: 2vw;
}

.stadium-information .stadium-information-header td:last-child {
    padding-left: 4vw;
}

.stadium-information .stadium-information-detail:last-child{
    border-radius: 0 0 5px 5px;
}

.stadium-information .stadium-information-detail {
    background-color: #4a4d55;
    height: 5vh;
    display: flex;
    flex-direction: row;
}

.stadium-information .stadium-information-detail .stadium-information-detail-wrapper {
    width: 100%;
    position: relative;
    color: white;
}

.stadium-information .stadium-information-detail .team-name {
    margin-left: 1vw;
    text-align: left;
    position: absolute;
    /* left: 15vw; */
    left: 5vw;
    padding-top: 1vh;
}

.stadium-information .stadium-information-detail .stadium-name {
    margin-left: 10em;
    text-align: left;
    position: absolute;
    left: 35vw;
    padding-top: 1vh;
}

.stadium-information .stadium-information-detail .team-logo {
    width: 3vh;
    height: 3vh;
    position: absolute;
    left: 2vw;
    margin-top: 1vh;
}

.stadium-information .stadium-information-detail:hover {
    transform: scale(1.01);
    border-left: 2px solid #44b454;
    border-right: 2px solid #44b454;
    cursor: pointer;
}


.showmore-button {
    display: none;
}

.stadium-information .stadium-information-detail:hover .showmore-button {
    display: inline-block;
    position: absolute;
    right: 3vw;
    top: 1.4vh;
}