.table_result {
    width: 85%;
    height: 870px;
    margin-left: 7.5%;
    background-color: #545861;
    border-radius: 0px 10px 10px 10px;
    padding: 20px 3% 20px 3%;
}

.result{
    height: 100px;
    background-color: #979595;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.score{
    margin-top: 15px;
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
}