.club_container{
    margin-top: 90px;
}

.introduction_club {
    height: 200px;
    width: 85%;
    background-color: #ECDC4D;
    margin-left: 7.5%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.introduction_club .logo_club {
    height: 150px;
    width: 200px;
    object-fit: contain;
    margin-top: 25px;
}

.introduction_club .title {
    margin-top: 50px;
    max-width: 250px;
}

.introduction_club .name_club {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.introduction_club .name_stadium {
    margin-top: 5px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

 .club_container .button_group {
    margin-top: 40px;
    display: flex;
    margin-left: 7%;
}

 .club_container .button {
    background-color: #707170;
    text-align: center;
    width: 111px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px 10px 0px 0px;
    color: #ffffff;
    margin-left: 10px;
}

.club_container .button:hover {
    background-color: #B8B8B8;
}