
header{
    width: 100vw;
    height: 8.5vh;
    background-color: #44B454;
}
 .header{
    height: 8.5vh;
    display: flex;
    align-items: center;
}
header .mainlogo {
    width: 7.5vw;
    margin-top: 1vh;
    margin-left: 6vw;
}
header nav{
    display: flex;
    margin-left: 5.5vw;
}
header .subNav.active{
    background-color: #4AA457;
}
header .Nav:active, .subNav:active{
    background-color: #54C865;
}
header a{
    text-decoration: none;
    padding: 1.4vw 1.5vw ;
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffff;
}

header .button_user{
    display: flex;
    padding: 1.4vw 1.5vw ;
    margin-left: 1.5vw;
}
header .user{
    background-color: transparent;
    border-style: none;
}
header .user_button{
    height: 3vh;
    color: #ffff;
}
header p {
    padding: 0 0.5rem;
}